table,
th,
td {
  border: 1px black solid;
  border-collapse: collapse;
  text-align: left;
  width: 100px;
}

th,
td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  font-family: Arial;
  font-size: 13px;
}
table {
  table-layout: fixed;
}

td {
  word-wrap: break-word;
  vertical-align: top;
}

table.toptable,
td.toptable,
th.toptable {
  border: 1px transparent;
  border-collapse: collapse;
}

p,
h1,
h2,
h3 {
  font-family: Arial;
}

a {
  font-family: Arial;
  color: blue;
}

input#runLink {
  width: 400px;
}

th#toprunlabel {
  width: 330px;
}

th#topdifflabel {
  width: 125px;
}

th#toppatchlabel {
  width: 150px;
}

button {
  width: 120px;
  height: 40px;
  font-size: 24px;
}

div#dvTable {
  float: left;
}

div#dvTable2 {
  float: left;
}

/*
table#categoryLabelTable2{
  float:left;
  vertical-align: top;
}
*/

table#categoryLabelTable {
  float: left;
}
table#categoryLabelTable2 {
  float: left;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
